@page
@model RhUI.Pages.Proyect.PageReferencia.DetailsModel
@{
}

<h2>Detalles de la Referencia</h2>

<div>
	<hr />
	<dl class="row">

		<div>
			<dt class="col-sm-3">
				Id:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.Id)
			</dd>
			<dt class="col-sm-3">
				Nombre:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.Candidato.Nombre)
			</dd>
		</div>

		<div>
			<dt class="col-sm-3">
				Telefono 1:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.Telefono1)
			</dd>
			<dt class="col-sm-3">
				Telefono 2:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.Telefono2)
			</dd>
			<dt class="col-sm-3">
				Telefono 3:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.Telefono3)
			</dd>
		</div>

		<div>
			<dt class="col-sm-3">
				Razon Social:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.RazonSocial)
			</dd>
			<dt class="col-sm-3">
				Direccion:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.Direccion)
			</dd>
		</div>


		<div>
			<dt class="col-sm-3">
				Nombre Jefe Directo:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.NombreJefe)
			</dd>
			<dt class="col-sm-3">
				Puesto Jefe Directo:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.PuestoJefe)
			</dd>
		</div>

		<div>
			<dt class="col-sm-3">
				Nombre Informante:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.NombreInformante)
			</dd>
			<dt class="col-sm-3">
				Puesto Informante:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.PuestoInformante)
			</dd>
		</div>

		<div>
			<dt class="col-sm-3">
				Puesto que ocupo en candidato:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.Puesto)
			</dd>
			<dt class="col-sm-3">
				Sueldo Inicial:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.SueldoInicial)
			</dd>
			<dt class="col-sm-3">
				Sueldo Final:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.SueldoFinal)
			</dd>
		</div>

		<div>
			<dt class="col-sm-3">
				Fecha que Inicio Labores:
			</dt>
			<dd class="col-sm-3">
				@Html.DisplayFor(model => model.ReferenciaLab.FechaInicLab)
			</dd>
			<dt class="col-sm-3">
				Fecha que Finalizó Labores:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.FechaFinLab)
			</dd>
			<dt class="col-sm-3">
				Motivo de separación:
			</dt>
			<dd class="col-sm-9">
				@Html.DisplayFor(model => model.ReferenciaLab.MotivoSeparacion)
			</dd>
		</div>
		<dt class="col-sm-3">
			Comentarios:
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.ReferenciaLab.Comentarios)
		</dd>
	</dl>
</div>
<div>
	<a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.ReferenciaLab.Id">Editar</a> |
	<a class="btn btn-secondary" asp-page="./Index">Regresar</a>
</div>

