@page
@model RhUI.Pages.Proyect.PageOrden.IndexOrdenModel
@{
}

<header>
	<script src="~/js/sorttable.js"></script>
</header>

<body style="margin-right:50px; background-color:white; margin-left:50px; margin-top:25px; border:double; border-color:darkmagenta;">
	<h2>Administración de Ordenes</h2>

	<form>
		<p>

			Busqueda por Empresa: <select asp-for="Empresass" asp-items="Model.BuscarOrden">
				<option value=""> Todos </option>
			</select>
			Busqueda por puesto solicitado: <input type="text" asp-for="SearchString" />
			<input class="btn btn-outline-primary btn-sm" type="submit" value="Buscar" />


		</p>
	</form>

	<p>
		<a class="btn btn-primary" asp-page="Create">Registrar Orden</a>
	</p>
	<table class="sortable table">
		<thead>
			<tr>
				<th>
					Id Orden
				</th>
				<th>
					Puesto Solicitado
				</th>
				<th>
					Empresa que lo solicita
				</th>
				<th>
					Fecha Registro
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Orden)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PuestoSolicitado)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Empresa.Nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreatedAT)
					</td>
					<td>
						<a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
						<a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
						<a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		<div class=""><a asp-page="/Proyect/PageCandidato/IndexCandidato" class="btn btn-secondary">Catalogo Candidatos</a></div>
	</div>
	<br />
	<div>
	     <div class=""><a asp-page="/Proyect/PageReferencia/IndexReferencia" class="btn btn-secondary">Catalogo Referencias</a></div>
	</div>

</body>